!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title B'more on Rails - RailsConf 2010 in Baltimore
    %link{:href => "favicon.ico", :rel => "SHORTCUT ICON"}/
    %link{:href => "images/logo64square.png", :rel => "apple-touch-icon-precomposed"}/
    %meta{:content => "B'more on Rails is involved with organizing a number of events for RailsConf 2010, which will be held in Baltimore June 7-10 2010.", :name => "description"}/
    %link{:href => "http://bmoreonrails.org/railsconf.html", :rel => "canonical"}/
    %link{:href => "bmoreonrails.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
  %body.interior
    #pageContainer
      %a#homeLink{:href => "./"}
        %img{:alt => "B'more on Rails", :src => "images/ruby_100.png"}/
      %h1.headline B'more on Rails organized a number of events for RailsConf 2010, which was held in Baltimore June 7-10 2010.
      %h2#call
        %a{:href => './praise.html'} See what people had to say!
      .event
        .info
          %h2
            %a{:href => "http://bmoreonrails.org/stay-with-a-local/"} Stay with a Local
          %p As part of a larger effort to welcome the Rails community to Baltimore for RailsConf 2010, B'more on Rails has organized a room-share for RailsConf attendees. We have 12 private rooms available to attendees for the duration of the conference. We see it as an opportunity to welcome you to our city and for us to create a few new friendships.
        .logo
          %a{:href => "http://bmoreonrails.org/stay-with-a-local/"}
            %img{:alt => "Stay with a Local, organized by B'more on Rails", :src => "images/stay_with_a_local.png", :title => "Stay with a Local, organized by B'more on Rails"}/
      .event
        .info
          %h2
            %a{:href => "http://bohconf.com/"} BohConf
          %p
            %strong>
              %a{:href => "http://bohconf.com"} BohConf
              is the official
              %a{:href => "http://en.oreilly.com/rails2010"} RailsConf 2010
              unconf
            \. At BohConf, we're going to get our hands dirty writing code and sharing ideas in an open and free-form environment. This hacking-centric event will include community code drives featuring well known OSS authors, a code retreat, a programming competition, and barcamp-style discussions. It is free and will run alongside RailsConf in the convention center. Everyone is welcome at BohConf! Follow @bohconf. BohConf is organized by
            = succeed "," do
              %a{:href => "http://smartlogicsolutions.com"} SmartLogic
            a Baltimore Ruby on Rails consultancy.
            = succeed "." do
              %a{:href => "https://en.oreilly.com/rails2010/public/register"} Register for BohConf
        .logo
          %a{:href => "http://bohconf.com/"}
            %img{:alt => "BohConf is the official RailsConf 2010 unconf", :src => "images/bohconf_logo_100.png", :title => "BohConf is the official RailsConf 2010 unconf"}/
      .event
        .info
          %h2
            %a{:href => "http://igniterailsconf.com/"} Ignite RailsConf
          %p Ignite events are lightning talks, where 16 speakers each get 5 minutes to talk about a subject they are passionate about, but with a twist: the speaker's slides are automatically advanced every 15 seconds. Several B'More on Rails members are presenting! Follow @igniterailsconf!
        .logo
          %a{:href => "http://igniterailsconf.com/"}
            %img{:alt => "Ignite RailsConf", :src => "images/ignite_railsconf.jpg", :title => "Ignite RailsConf"}/
      .event
        .info
          %h2
            %a{:href => "http://www.meetup.com/bmore-on-rails/calendar/13530060/"} Welcome to B'more Pub Night
          %p
            Start off your RailsConf/BohConf right by having a beer and hanging out with the B'more on Rails crew! RSVP on
            %a{:href => "http://www.meetup.com/bmore-on-rails/calendar/13530060/"} meetup.com
            is encouraged, but not required. We're looking forward to having a beer with you!
          %p
            Monday June 7, 6pm - ?
            %br/
            %a{:href => "http://www.prattstreetalehouse.com/"} Pratt Street Ale House
            (
            %a{:href => "http://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=pratt+st+ale+house&fb=1&gl=us&hq=pratt+st+ale+house&ei=z7b1S_KULoP78AaS8YDCCg&ved=0CCsQtgMwAw&hnear=Baltimore,+MD&z=16&iwloc=A"}> map
            )
      .event
        .info
          %h2
            %a{:href => "http://bmoreonales.com/"} B'more on Ales
          %p B'more on Rails approved watering holes, from locals who know better than to drink somewhere lame. Follow @bmoreonales.
        .logo
          %a{:href => "http://bmoreonales.com/"}
            %img{:alt => "B'more on Ales", :src => "images/bmoreonales.png"}/
      .event
        .info
          %h2
            %a{:href => "http://railsconf-tmottbg.eventbrite.com"} Yankees at Orioles
          %p
            We're organizing a group to go to the baseball game on Wednesday night.  Thanks to
            = succeed "," do
              %a{:href => "http://goldstar.com"} Goldstar
            we've got a block for 100 tickets.  Also we'd like to thank our sponsor
            = succeed "," do
              %a{:href => "http://sbnation.com"} SB Nation
            who will be providing each attendee with a free $7 gift certificate good towards the purchase of food or drink.
            %a{:href => "http://railsconf-tmottbg.eventbrite.com"} Sign up now
            while tickets last!
        .logo{:style => "margin-top: 45px"}
          %a{:href => "http://sbnation.com"}
            %img{:alt => "SB Nation", :src => "images/sbnation-logo.png", :width => "160"}/
      .event
        .info
          %a{:href => "http://bmoreonrails.org/ride-with-a-local"}
            %img{:alt => "bmore on rails ride with a local taxi service from bwi airport", :src => "images/rwal.png"}/
          %p
            %strong Ride with a Local: taxi service from BWI
            \- A cab ride from BWI airport to downtown Baltimore can cost more than $20. B'more on Rails members will be standing by in the afternoon Sunday June 6 and Monday June 7 to provide personalized rides from BWI to your hotel. See the
            %a{:href => "http://bmoreonrails.org/ride-with-a-local"} mobile-enabled map application
            to find out where the taxis are
            = succeed "!" do
              %em right now
          %p
            %strong Taxi service available Sunday and Monday 12p - 6p
      .event
        .info
          %h2 Baltimore Ambassadors
          %p
            When you see one of us in a B'More on Rails t-shirt, say hi! Ask us about Baltimore! Whether you need a recommendation for a place to grab a quick beer, or you need to know the best way to get to the other side of town, we're here to help!
            %strong Look for the insert in your program, and look for us near the exits after the late afternoon sessions!
      .event
        .info
          %h2 Some Other Excellent Things We've Noticed
          %p
            Mike Subelsky's
            = succeed "," do
              %a{:href => "http://www.subelsky.com/2010/06/railsconf-baltimore-things-to-see-and.html"} Baltimore Things To See and Do
            a short list of things to do while you're in town.
          %p
            James Duncan Davidson and Mike Clark's
            = succeed "," do
              %a{:href => "http://journal.duncandavidson.com/post/661333032/railsconf-bmore-inner-harbor-photo-walk"} Inner Harbor Photo Walk
            a golden hour photo walk on Wednesday evening.
      .event
        .info
          %h2 Recommended Running Routes
          %p A breezy run on the water is a great way to start your morning in Baltimore! Below is a sample running route starting from the Inner Harbor, which is just a few blocks east of the Convention Center. It goes up onto Federal Hill, then back around through Harbor East, Fells Point, and Canton, before returning to the Inner Harbor. Much of the course is along the water and is flat and very scenic!
          %iframe{:frameborder => "0", :height => "500px", :src => "http://js.mapmyfitness.com/embed/blogview.html?r=daba0c399935dced799e509eb2627117&u=e&t=run", :width => "100%"}
            %a{:href => "http://www.mapmyrun.com/run/united-states/md/baltimore/522127463483874488"} RailsConf &quot;along the harbor&quot;
            %br/
            %a{:href => "http://www.mapmyrun.com/find-run/united-states/md/baltimore"} Find more Runs in Baltimore, Maryland
          / MMF PARTNER TOOL
      #footer
        %hr/
        %p
          \&copy; 2010 B'more On Rails | Website hosted by
          %a{:href => "http://www.smartlogicsolutions.com/"} SmartLogic Solutions
          | Logo by
          %a{:href => "http://www.craftwork.net"} Charles Martucci / Craftwork
    %script{:src => "http://platform.twitter.com/anywhere.js?id=p0zKtbxfjRSmvX7dBIQg&amp;v=1"}
    :javascript
      twttr.anywhere(function(twitter) {
        twitter.hovercards();
      });
      :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          :javascript
      try {
      var pageTracker = _gat._getTracker("UA-15608127-1");
      pageTracker._trackPageview();
      } catch(err) {}